body{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  height: 40px;
  padding: 5px 10px;
  font-size: 20px;
}
button{
  height: 50px;
  padding: 5px 10px;
  min-width: 50px;
  font-size: 20px;
}
.main-container{
  width: 60%;
  margin: auto;
  font-size: 150%;
}
.main-heading{
    margin-bottom: 10px;
}
.general{
  padding-top: 20px;
}
.general > input{
  height: 30px;
  font-size: 18px;
}
.general .container{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.first{
  font-size: 24px;
}
.abilities-ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.edu-main{
  display: grid;
  gap: 10px;
}
.edu-container .bold-section{
  display: flex;
  gap: 5px;
  font-weight: 600;
}
.c-base-info{
  display: flex;
}
.company{
  flex: 2;
}
.dates{
  display: flex;
  gap: 2px;
}